<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bobby's Weather</title>
    <link rel="stylesheet" href="css/style.css">
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="pic/simple-elegant-japan-logo-torii-silhouette-traditional-japanese-gate-red-circle-shape-isolated-vector-clip-art-illustration-185868899.jpg" type="image/png">
</head>
<body>

    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg ">
                    
 <!-- < a class class="navbar-brand" href="#"><i class="fas fa-snowflake fa-2x"  aria-hidden="true"></i>Bobby's weather<i class="fas fa-snowflake fa-2x" aria-hidden="true"></i></a> -->

<a href="#"><i class="fas fa-snowflake fa-2x"  aria-hidden="true"></i>  Bobby's Weather   <i class="fas fa-snowflake fa-2x"  aria-hidden="true"></i>  </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/weather">weather</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/about">About us</a>
                          </li>
                    </div>
                  </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Bobby's weather app</p>
                        <h1>I am A <span class="text_clr">SOFTWARE DEVELOPER</span> And a freelancer</h1>
                        <a href="#"><button>about me</button></a>
                    </div>
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                    
                    </div>
                </div>
            </div>
        </div>  
    </div>    


    <footer>
      <p>Thanks by BOBBY</p>
        <!-- <h1></h1> -->
    </footer>
</body>
</html>
